#error {
	color :red;
}

#chatContent {
	height : 500px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: visible;
}
#message {
	height :40px;
}
#chatWrap {
	float :left;
}
#usernameWrap {
	margin-left: auto;
	margin-right: auto;
}
#message-block {
	background-color: #E2DCD8;
	height :45px;
}
#user-block {
	background-color: #E2DCD8;
	height :20px;
	text-align: center;
}
#users {
	border:1px #000 solid;
}

b {
	font-size: large;
}

/* Menu Block */
.menulist ul {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.menulist li {
	text-align: center;
	font-size: 300%;
	display: inline-block;
	margin: 15px;
	clear: both;
	height: 100px;
	width: 80%;
	background: #E2DCD8;
	padding: 15px;
}