extends layout

append jscripts
	script(src="../../js/directory.js")

block content
	include navigationbar.jade

	div.container.text-center
		h3 SSNoC directory
		br
		div.row
			div.col-md-12.col-xs-12.col-lg-12
				div.text-center
					.colorgraph
					h4 Online users
					div#online_users
					
				div.text-center
					.colorgraph
					h4 Offline users
					div#offline_users
					

