<!DOCTYPE html>
<html>
<head>
<title>WebChat Application</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/chat.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Content Frame -->
<div id="FRAME"></div>

<!-- Primary JS -->
<script src="/js/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/function.js"></script>

<!-- Page Specific JS -->

<script>
<!-- Session Socket -->
var socket = io.connect();	

// Load login form
$("#FRAME").load("login.html"); 
</script>

</body>
</html>