<!-- Menu Select -->
<ul class="menulist">
<li id="public_chat" >Public Chat</li>
<li id="directory">Directory</li>
<li id="logout">Logout</li>
<ul>

<script>
jQuery(function($) {

// Handle LI onClick redirect
$("li").on("click", function() {
	switch(this.id) {
		case "public_chat":
			$("#FRAME").load("public_chat.html"); 
			break;
		case "directory":
			$("#FRAME").load("directory.html"); 
			break;
		case "logout":
			socket.emit('logout');
			$("#FRAME").load("login.html"); 
			break;
	}
});

});
</script>