<!-- Chatroom -->
<div id="contentWrap">
	<div class="col-md-4" id="chatWrap">
	<div id="chatContent">
		<p id="welcome"></p>
	</div>
	
	<form class="form-group" id="messageForm">
	<input type="text" size ="50" id="message" class="form-control" placeholder="Enter message..."></input><br>
	<input type="submit" value="POST" class="btn btn-primary btn-block"></input>
	</form>
	
	<form class="form-group" id="menu">
	<input type="submit"  class="btn btn-info btn-block" value="MENU"></input>
	</form>
	
	<input type="submit" id="logout" value="LOGOUT" class="btn btn-danger btn-block"></input><br>
	</div>
</div>

<script>
jQuery(function($) {
	var $messageForm = $('#messageForm');
	var $message = $('#message');
	var $chatContent = $('#chatContent');
	var $users = $('#users');

	$('#welcome').html('Welcome to SSNoC, you can now share your status with online users. The green icon means you are fine and do not need help. The yellow icon tells us you need help but it is not a life threatening emergency. The red icon shows us you are in an emergency and need help now.');
	socket.emit('load messages');
	
	// Return to Menu
	$("#menu").submit(function(e) {
		e.preventDefault();
		$("#FRAME").load("menu.html");
	});
	
	function appendChatMessage(message) {
		var block = "<div id='message-block'>" +
						 "<b>" + message.citizen.username + "</b> (" + message.timestamp + "): <br>"
						  + message.message + "<br>" + 
					"</div><br>";
		$chatContent.append(block);
		$chatContent.animate({
			scrollTop: $chatContent[0].scrollHeight - $chatContent.height()
		});
	}

	socket.on('show messages', function(data){
		for(i=0;i<data.length;i++) {
			var message = data[i];
			appendChatMessage(message);
		}
	});

	socket.on('citizens', function(data){
		var content ='';
		var online = data.online;
		var offline = data.offline;
		online = sortArraybByKey(online,'username');
		offline = sortArraybByKey(offline,'username');
		content += "<b>Online users:</b><br>";
		for(i=0;i<online.length;i++) {
			content += online[i].username +"</br>";
		}
		content += "<b>Offline users:</b><br>";
		for(i=0;i<offline.length;i++) {
			content += offline[i].username +"<br>";
		}
		$users.html(content);
	});

	$messageForm.submit(function(e){
		e.preventDefault();
		socket.emit('send message',$message.val());
		$message.val('');
	});

	socket.on('new message', function(data){
		console.log("Recieved new message");
		appendChatMessage(data);
	});

	$('#logout').click(function(){
		socket.emit('logout');
		// Back to login form
		$("#FRAME").load("login.html"); 
		return false;
	});

});
</script>