nav.navbar.navbar-default
	div.container-fluid
		div.navbar-header
			button(class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") SSNoC
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href="/directory")
						strong Directory
				li
					a(href="/share-status")
						strong Share Status
				li
					a(href="/public-wall")
						strong Public Wall
				li
					a(href="/group-chat")
						Strong Group Chat           
				li
					a(href="/monitor-performance")
						strong Monitor Performance
				li
					a(href="/monitor-memory")
						strong Monitor Memory
				li
					a(href="/announcement")
						strong Announcement
				li
					a(href="/gps")
						strong GPS Setup
				li
					a(href="/search")
						strong Search
				li
					a(href="/admin-user-profile")
						strong Administer User Profile
				li
					a(href="/logout")
						strong Logout
