extends layout

block content
	include navigationbar.jade

	div.container
		div.alert.alert-danger(role="alert")
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
			strong Privilege Limited!! No access to current page!!