extends layout

block content
	include navigationbar.jade

	div.container.row
		h3.text-center Public Wall
		br
		div.col-xs-12.col-md-8.col-md-offset-2
			div.panel.panel-info
				div.panel-heading 
					h3.panel-title Public Messages
				div.panel-body
					ul.media-list#publicMessages
				div.panel-footer
					div.input-group
						input.form-control(type='text', placeholder='Enter Message...')#postPublicMessage
						span.input-group-btn
							button.btn.btn-primary(type='button')#sendPublicMessage
								span.glyphicon.glyphicon-send(aria-hidden="true")

append footer
	script(src="../../js/public_chat.js")
